html, body {
    //@include ff-open-sans($font-size-base);
    color          : $font-color;
    font-size      : $font-size-base;
    height         : 100%;
    line-height    : $line-height;
    margin         : 0;
    padding        : 0;
    text-rendering : auto;
    text-transform : none;
    min-width      : 320px;
}

body {
    background-color : $white;
    overflow-x       : hidden;
}

#wrapper {
    display          : flex;
    flex-flow        : column nowrap;
    min-height       : 100vh;
    overflow         : hidden;
    position         : relative;
    background-color : #FFFFFF;
}

img {
    display : block;
}

* {
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
}
