/*--------------------------------------------------------------------------
 | Links
 |--------------------------------------------------------------------------
 */

a {

}

/*--------------------------------------------------------------------------
 | Paragraphs
 |--------------------------------------------------------------------------
 */

p {

}

/*--------------------------------------------------------------------------
 | SVG
 |--------------------------------------------------------------------------
 */

svg:not(:root) {
    object-fit                  : contain;
    -webkit-backface-visibility : hidden;
    backface-visibility         : hidden;
    pointer-events              : none;
}

svg.icon {
    box-sizing   : content-box;
    display      : inline-block;
    fill         : currentColor;
    font-size    : 1rem;
    height       : 1em;
    position     : relative;
    stroke       : currentColor;
    stroke-width : 0;
    width        : 1em;

    &::before {
        background-color : transparent;
        content          : "";
        cursor           : pointer;
        display          : block;
        position         : absolute;
    }

    // Flip icon horizontally
    &.flip {
        -ms-filter        : "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
        -webkit-transform : scale(-1, 1);
        -ms-transform     : scale(-1, 1);
        transform         : scale(-1, 1);
    }
}

/*--------------------------------------------------------------------------
 | Table
 |--------------------------------------------------------------------------
 */

table {

}
