/*--------------------------------------------------------------------------
 | Functions
 |--------------------------------------------------------------------------
 */

/**
 * Return null rather than throwing an error if index is outside list range.
 */
@function nth-value($list, $index) {
    @return if(length($list) >= $index, nth($list, $index), null);
}

/**
 * Calculate relative font-size.
 */
@function rem($pxSize) {
    $remSize : $pxSize / $font-size-base;
    $fontSize : #{$remSize}rem;
    @return $fontSize;
}

/**
 * Remove the unit of a length.
 */
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

/**
 * Get z-index based on given profile.
 */
@function z-index($profile) {
    @return map-get($z-index-profiles, $profile);
}
