/*--------------------------------------------------------------------------
 | .img for IE fix object fit
 |--------------------------------------------------------------------------
 */
.img {
    &.compat-object-fit {
        background-size     : cover;
        background-position : center center;

        img {
            opacity : 0;
        }
    }
}

.img {
    height : 100%;
}
