/*--------------------------------------------------------------------------
 | Mixins
 |--------------------------------------------------------------------------
 */

/**
 * Center current element within parent.
 */
@mixin center-this() {
    position  : absolute;
    left      : 50%;
    top       : 50%;
    transform : translate(-50%, -50%);
}

/**
 * Create variants of given propery.
 *
 * $property    - Color, background, e.d.
 * $variant     - Default 'base'. Check the color profiles for more variants.
 * $childSelect - Default 0. Incase you want apply the variants to a child element. The modifier is still on parent.
 */
@mixin give-variants($property, $variant: 'base', $childElement: '', $important: 0) {
    @each $color-key, $color-variants in $color-profiles {
        $base-color-value : map-get($color-variants, $variant);

        &--#{$color-key} #{$childElement} {
            @if $important == 1 {
                #{$property}: $base-color-value !important;
            } @else {
                #{$property}: $base-color-value;
            }
        }
    }
}

@mixin display-grid {
    display: -ms-grid;
    display: grid;
}

@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
    -ms-grid-column: $col-start;
    -ms-grid-column-span: $col-end - $col-start;
    -ms-grid-row: $row-start;
    -ms-grid-row-span: $row-end - $row-start;
    grid-column: #{$col-start}/#{$col-end};
    grid-row: #{$row-start}/#{$row-end};
}

@mixin give-circle($radius: 20px){
    width: $radius;
    height: $radius;
    border-radius: $radius;
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin full-width() {
    width        : 100vw;
    position     : relative;
    left         : 50%;
    right        : 50%;
    margin-left  : -50vw;
    margin-right : -50vw;
}

/**
 * Hide element. Display is visible.
 */
@mixin hide() {
    border   : 0;
    clip     : rect(0 0 0 0);
    height   : 1px;
    margin   : -1px;
    overflow : hidden;
    padding  : 0;
    position : absolute;
    width    : 1px;
}

/**
 * Apply hover, focus and active to parent.
 */
@mixin hover() {
    &:hover, &:focus, &:active {
        @content;
    }
}

/**
 * Set amount of lines.
 */
@mixin limit-lines($lines, $max-height: 0) {
    display            : -webkit-box;
    overflow           : hidden;
    position           : relative;
    text-overflow      : ellipsis;
    -webkit-box-orient : vertical;
    -webkit-line-clamp : $lines;

    @if $max-height != 0 {
        max-height: $max-height;
    }
}

/**
 * Break nest and define CSS at root.
 */
@mixin optional-at-root($sel) {
    @at-root #{if(not &, $sel, selector-append(&, $sel))} {
        @content;
    }
}

/**
 * Apply SVG icon settings.
 */
@mixin svg() {
    box-sizing   : content-box;
    display      : inline-block;
    fill         : currentColor;
    font-size    : 1rem;
    height       : 1em;
    position     : relative;
    stroke       : currentColor;
    stroke-width : 0;
    width        : 1em;
}

/**
 * Include z-index based on given profile.
 */
@mixin z-index($profile) {
    z-index : z-index($profile);
}

/**
 * If you have a list and last item requires no x property
 */
@mixin no-last($property, $value) {
    #{$property}: $value;

    &:last-child {
        #{$property} : 0;
    }
}

/**
 * mobile gutter
 */
@mixin give-gutter($media: 1170px) {
    @media (max-width: #{$media}){
        padding-left  : 20px;
        padding-right : 20px;
    }

}

/**
 * circle, first passed var = radius, second passed var = center content
 */
@mixin give-circle($radius: 10px, $center: true) {
    width         : $radius;
    height        : $radius;
    min-width     : $radius;
    min-height    : $radius;
    border-radius : 50%;

    @if $center {
        display         : flex;
        justify-content : center;
        align-items     : center;
    }
}

@mixin transition() {
    transition : all 0.21s;

    &:hover {
        transition : all 0.34s;
    }
}

@mixin pulse($anim: '') {

    @if $anim != '' {
        animation-name : $anim;
    }

    animation-duration        : .55s;
    animation-iteration-count : infinite;
    animation-direction       : alternate;
}
