/*--------------------------------------------------------------------------
 | Paths
 |--------------------------------------------------------------------------
 */

$css-path : '../css' !default;
$fonts-path : '../fonts' !default;
$img-path : '../img' !default;
$js-path : '../js' !default;
$json-path : '../json' !default;
$lib-path : '../lib' !default;
