/*--------------------------------------------------------------------------
 | Colors presets
 |--------------------------------------------------------------------------
 */

$white : #FFFFFF !default;
$black : #000000 !default;
$grey : #23282B !default;
$light-grey : #A8A9AA !default;
$dark-grey : #1D1D1B !default;
$border-grey : #E5E5E5 !default;

$yellow : #FFCF42 !default;
$light-yellow : #FFDB71 !default;
$green : #4BC510 !default;
$red : #E9473F !default;
$brown : #D4980E !default;

$primary-color : #FFCF42 !default;
$secondary-color : #7DC332 !default;
$tertiary-color : #E9473F !default;

$font-color : blue !default;

$color-profiles : (
        'primary': (
                'base': $yellow,
                'contrast': $red,
                'text': $grey,
                'textcontrast': #1C2327,
                'hovercolor': $white
        ),
        'secondary': (
                'base': $grey,
                'contrast': $yellow,
                'text': $white,
                'textcontrast': $white,
                'hovercolor': $red
        ),
        'tertiary': (
                'base': $red,
                'contrast': $white,
                'text': $grey,
                'textcontrast': #1C2327,
                'hovercolor': $yellow
        ),
        'white': (
                'base': $white,
                'contrast': $red,
                'text': $grey,
                'textcontrast': #1C2327,
                'hovercolor': $yellow
        )
) !default;


/*--------------------------------------------------------------------------
 | Z-index profile
 |--------------------------------------------------------------------------
 */

$z-index-profiles : (
        menu : 100,
        overlay : 900,
) !default;


/*--------------------------------------------------------------------------
 | Paths
 |--------------------------------------------------------------------------
 */

$css-path : '../css' !default;
$fonts-path : '../fonts' !default;
$img-path : '../img' !default;
$js-path : '../js' !default;
$json-path : '../json' !default;
$lib-path : '../lib' !default;


/*--------------------------------------------------------------------------
 | HTML default settings
 |--------------------------------------------------------------------------
 */

$border-radius : 3px !default;
$font-size-base : 16px !default;
$line-height : 1 !default;


/*--------------------------------------------------------------------------
 | Meisures
 |--------------------------------------------------------------------------
 */

$gutter : 20px !default;
$max-container-width : 1200px !default;

