/*--------------------------------------------------------------------------
 | Framework
 |--------------------------------------------------------------------------
 */

html {
    -ms-text-size-adjust     : 100%;
    -webkit-text-size-adjust : 100%;
    text-size-adjust         : 100%;
    -webkit-box-sizing       : border-box;
    box-sizing               : border-box;
    font-family              : sans-serif;
}

body {
    margin : 0;
}

/*--------------------------------------------------------------------------
 | HTML 5 display definitions
 |--------------------------------------------------------------------------
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display : block;
}

audio,
canvas,
progress,
video {
    display        : inline-block;
    vertical-align : baseline;
}

audio:not([controls]) {
    display : none;
    height  : 0;
}

[hidden] {
    display : none;
}

/*--------------------------------------------------------------------------
 | Links
 |--------------------------------------------------------------------------
 */

a {
    background-color : transparent;
}

:active,
:focus,
:link,
:hover,
:visited {
    outline-width : 0;
}

/*--------------------------------------------------------------------------
 | Text-level semantics
 |--------------------------------------------------------------------------
 */

abbr[title] {
    border : 0 none;
    cursor : default;
}

b,
strong {
    font-weight : 600;
}

mark {
    background-color : #FFFFB3;
    font-weight      : 500;
    padding          : .1em .3em;
}

small {
    font-size : 80%;
}

sub,
sup {
    font-size      : 75%;
    line-height    : 0;
    position       : relative;
    vertical-align : baseline;
}

sub {
    bottom : -0.25em;
}

sup {
    top : -0.5em;
}

/*--------------------------------------------------------------------------
 | Embedded content
 |--------------------------------------------------------------------------
 */

img {
    border-style : none;
}

svg:not(:root) {
    overflow : hidden;
}

code,
pre {
    font-family : monospace, monospace;
    font-size   : 1em;
}

/*--------------------------------------------------------------------------
 | Grouping content
 |--------------------------------------------------------------------------
 */

hr {
    border             : 0 none;
    -webkit-box-sizing : content-box;
    box-sizing         : content-box;
    height             : 0;
    border-top         : 1px solid #000000;
    overflow           : visible;
}

/*--------------------------------------------------------------------------
 | Forms
 |--------------------------------------------------------------------------
 */

button,
input,
select {
    overflow : visible;
}

button,
input,
select,
textarea {
    font        : inherit;
    line-height : inherit;
    margin      : 0;
}

button,
select {
    text-transform : none;
}

textarea {
    overflow : auto;
    resize   : vertical;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    cursor             : pointer;
    -webkit-appearance : button;
    appearance         : button;
}

[disabled] {
    cursor : default;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance : button;
    appearance         : button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style : none;
    padding      : 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline : 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
    padding            : 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height : auto;
}

[type="search"] {
    -webkit-appearance : textfield;
    appearance         : textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration,
input[type="search"] {
    -webkit-appearance : none;
    appearance         : none;
}

::-webkit-file-upload-button {
    -webkit-appearance : button;
    appearance         : button;
    font               : inherit;
}

// Placeholder
::-webkit-input-placeholder {
    color   : #ABABAB;
    opacity : 1 !important;
}

::-moz-placeholder {
    color : #ABABAB;
}

:-ms-input-placeholder {
    color : #ABABAB !important;
}

// Autcomplete
input {
    &[type="email"],
    &[type="password"],
    &[type="search"],
    &[type="tel"],
    &[type="text"],
    &[type="url"] {

        &:-webkit-autofill,
        &:-webkit-autofill:focus {
            -webkit-box-shadow : 0 0 0 50px #FFFFFF inset;
        }
    }
}

/*--------------------------------------------------------------------------
 | Tables
 |--------------------------------------------------------------------------
 */

table {
    background-color : transparent;
    border-collapse  : collapse;
    border-spacing   : 0;
    max-width        : 100%;
    width            : 100%;
}

td,
th {
    padding    : 0;
    text-align : left;
}

/*--------------------------------------------------------------------------
 | Lists
 |--------------------------------------------------------------------------
 */

ul,
ol,
li {
    margin     : 0;
    padding    : 0;
    list-style : none;
}

/*--------------------------------------------------------------------------
 | Boxlayout
 |--------------------------------------------------------------------------
 */

*,
*::before,
*::after {
    -webkit-box-sizing : inherit;
    box-sizing         : inherit;
}
