.animin,
.animin2 {
    opacity : 0;
    z-index: 999;
}

.d100 {
    animation-delay : 100ms;
}

.d200 {
    animation-delay : 200ms;
}

.d400 {
    animation-delay : 400ms;
}

.d600 {
    animation-delay : 600ms;
}

.d800 {
    animation-delay : 800ms;
}

.d1000 {
    animation-delay : 1000ms;
}

.d1200 {
    animation-delay : 1200ms;
}

.d1400 {
    animation-delay : 1400ms;
}

.d1600 {
    animation-delay : 1600ms;
}

.d1800 {
    animation-delay : 1800ms;
}

.d2000 {
    animation-delay : 2000ms;
}

.d2400 {
    animation-delay : 2400ms;
}

.d3200 {
    animation-delay : 3200ms;
}

@-webkit-keyframes fadeInSpecial {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(25px, 15px, 0);
        transform: translate3d(25px, 15px, 0);
    }
}

@keyframes fadeInSpecial {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(25px, 15px, 0);
        transform: translate3d(25px, 15px, 0);
    }
}

@-webkit-keyframes fadeInSpecialMobile {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(8px, -13px, 0);
        transform: translate3d(8px, -13px, 0);
    }
}

@keyframes fadeInSpecialMobile {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(8px, -13px, 0);
        transform: translate3d(8px, -13px, 0);
    }
}

.fadeInSpecial {
    -webkit-animation-name: fadeInSpecial;
    animation-name: fadeInSpecial;

    @media(max-width : 600px) {
        -webkit-animation-name: fadeInSpecialMobile;
        animation-name: fadeInSpecialMobile;
    }
}



.js-fakelink{
    &:hover{
        cursor:pointer;
    }
}



.hide-mobile{
    @media(max-width: 900px){
        display: none !important;
    }
}
.show-mobile{
    display: none !important;

    @media(max-width: 900px){
        display: flex !important;
    }
}

.is-open{
    overflow-y: hidden;
}

@mixin pulse($anim: '') {

    @if $anim != '' {
        animation-name : $anim;
    }

    animation-duration        : .55s;
    animation-iteration-count : infinite;
    animation-direction       : alternate;
}

@keyframes pulse-left {
    from {transform : translate(0, 0); }
    to {transform : translate(-5px, 0); }
}

@keyframes pulse-right {
    from {transform : translate(0, 0); }
    to {transform : translate(5px, 0); }
}

@keyframes pulse-top {
    from {transform : translate(0, 0); }
    to {transform : translate(0, -5px); }
}

@keyframes pulse-bottom {
    from {transform : translate(0, 0); }
    to {transform : translate(0, 5px); }
}

/*--------------------------------------------------------------------------
 | .img for IE fix object fit
 |--------------------------------------------------------------------------
 */
.img {
    &.compat-object-fit {
        background-size     : cover;
        background-position : center center;

        img {
            opacity : 0;
        }
    }
}

